h2 {
    color:rgb(53, 255, 0) ;
    text-align: center;
}


#dv1 {
    width: 402px;
    height: 354px;
    position: relative;
    left: 393px;
    top: 0px;
    margin-left: 93px;
    margin-top: 154px;
    width: 432px;
}
